# conda create --new insight_env python==3.7 
# conda install pytorch==1.8.1 torchvision==0.9.1 torchaudio==0.8.1 -c pytorch
# then install with pip: "pip install -r requirements.txt"
imageio==2.22.2
Augmentor==0.2.10
opencv-python==4.6.0.66
mlflow==1.29.0
scikit-learn==0.24.1
enforce-typing==1.0.0.post1
dataclasses_json==0.5.7
pytorch-lightning==1.6.5.
scikit-image==0.19.3
matplotlib==3.4.0
torchmetrics==0.11.4
seaborn
urllib3==1.26.6

# conda install -c conda-forge imageio=2.23.0
# conda install -c conda-forge augmentor=0.2.12
# conda install -c fastai opencv-python-headless=4.6.0.66
# conda install -c conda-forge mlflow=1.30.0
# conda install scikit-learn=1.0.2=py37h51133e4_1
# conda install -c conda-forge enforce-typing=1.0.0.post1
# pip install dataclasses-json==0.5.7
# conda install -c conda-forge pytorch-lightning=1.6.5
# conda install scikit-image=0.19.3
# conda install matplotlib==3.5.3
# conda install -c conda-forge torchmetrics=0.10.3
# conda install seaborn=0.12.2
# pip install urllib3==1.26.20

